*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(60deg, #ff0000, #3b3bc9);
    padding: 1rem;
}


/* ========== TO-Do_Notes Para ========= */
.inside{
    width: 100%;
    max-width: 36rem;
    background-color: white;
    padding: 3rem 2rem 4.5rem;
    margin: 3rem auto 1.5rem;
    border-radius: 0.5rem;
}
.inside h2{
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
}
.inside h2 img{
    width: 1.9rem;
    margin-left: 0.7rem;

}


/* =========== search field =========== */
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: whitesmoke;
    border-radius: 2rem;
    padding-left: 1.7rem;
    margin-bottom: 1.8rem;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 1rem;
}

/* ======= Add button ======== */
button{
    border: none;
    outline: none;
    padding: 1rem 3rem;
    background: whitesmoke;
    background-color: rgb(14, 136, 14);
    color: white;
    cursor: pointer;
    border-radius: 2.4rem;
    font-size: 1rem;
}


 /* ======= Task-lists ====== */
ul li{
    list-style: none;
    font-size: 1rem;
    padding: 0.8rem 0.5rem 0.7rem 2rem;
    user-select: none;
    cursor: pointer;
    position: relative;
}
/* ======== list style ========*/
ul li::before{
    content: '';
    position: absolute;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    background-image: url(circle-41667.png);
    background-size: cover;
    background-position: center;
    left: 0.1rem;
}

/* ======== Green tick  ====== */
ul li.tick{
     text-decoration: line-through;
     color: grey;
}
ul li.tick::before{
   background-image: url(tick-img.png);
}

/* ====== Delete(span) create in js file ======= */
ul li span{
    position: absolute;
    right: 0;
    /* top: 0.3rem; */
    width: 2.4rem;
    height: 2.4rem;
    font-size: 1.8rem;
    color: black;
    border-radius: 50%;
    line-height: 2.4rem;
    text-align: center;
}
ul li span:hover{
    background-color: rgb(243, 39, 39);
}